 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: 'Poiret One', cursive;
  color: #4183C4;
}

.container{
  margin: 50px auto 0 auto;
  width: 700px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: lighgray;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    margin: 5px 0 0 5px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #4183C4;
  }
  input{
    width: 600px;
    font-size: 30px;
    margin: 15px 0 0 0;
  }
}
