 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: 'Poiret One', cursive;
  color: #4183C4;
}

.container{
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
  font-weight: 200px;
  line-height: 30px;
  background-color: lighgray;
  border-radius: 6px;
  padding: 60px;
  form{
    width: 100%;
    margin: 0 auto;
  }
  h1 {
    font-size: 70px;
    width: 100%;
    margin: 5px 0 50px 5px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #4183C4;
  }
  input{
    width: 80%;
    margin: 0 10% 0 10%;
    font-size: 1.5em;
  }
  li{
    border-bottom: 1px solid gray;
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
  }
  span{
    float: right;
  }
  span:hover{
    color: red;
    cursor: pointer;
  }
}
.closed{
  text-decoration: line-through;
  color: gray;
}
.hidden{
  display: none;
}
